name: Lint Code Base

on: [push]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      # Step 1: Checks out your repo under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout Code
        uses: actions/checkout@v4

      # Step 2: Set up the Node.js version to use
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: 'npm'

      # Step 3: Installs the project dependencies
      - name: Install Dependencies
        run: npm ci

      - name: Run Linter
        run: npm run lint
